name: Lint

on:
  push:
    paths:
      - "src/**"
      - "pyproject.toml"
  pull_request:
    paths:
      - "src/**"
      - "pyproject.toml"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install ruff
      - name: Run Ruff
        run: ruff check --output-format=github .
